*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, sans-serif;
background:#212121;
}

.login-container{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.login-card{
background:#2f2f2f;
padding:40px;
border-radius:20px;
width:100%;
max-width:400px;
text-align:center;
box-shadow:0 0 20px rgba(0,0,0,0.4);
}

.login-card h2 {
color:white;
margin-bottom:30px;
font-size:32px;
padding-top: 20px;
}

.login-card h1,
.register-card h1{
    color:white;
    font-size:32px;
    margin-bottom:10px;
}

.login-card h2,
.register-card h2{
    color:#19c37d;
    margin-bottom:25px;
}

.tagline{
    color:#aaa;
    font-size:14px;
    margin-bottom:25px;
}

.login-card input{
width:100%;
padding:15px;
margin-bottom:20px;
border:none;
outline:none;
border-radius:10px;
background:#40414f;
color:white;
font-size:16px;
}

.login-card button{
width:100%;
padding:15px;
border:none;
border-radius:10px;
background:#19c37d;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.login-card button:hover

.register-text{
margin-top:20px;
color:#bbb;
font-size:15px;
}

.register-link{
display:inline-block;
margin-top:10px;
color:#19c37d;
text-decoration:none;
font-weight:bold;
font-size:16px;
}

.register-link:hover{
text-decoration:underline;
}

/* Tablet */

@media (max-width:768px){


.login-card{
    padding:30px;
}

.login-card h1{
    font-size:28px;
}


}

/* Mobile */

@media (max-width:480px){

.login-container{
    padding:15px;
}

.login-card{
    padding:25px;
    border-radius:15px;
}

.login-card h1{
    font-size:24px;
}

.login-card input{
    padding:14px;
    font-size:15px;
}

.login-card button{
    padding:14px;
    font-size:15px;
}

.register-text{
    font-size:14px;
}

.register-link{
    font-size:15px;
}

}
